In [1]:
import pandas

zvirata = pandas.read_csv("adopce_zvirat.csv", sep=";")

print(zvirata)

       id             nazev_cz                     nazev_en       trida_cz  \
0       7          Šváb syčivý  Madagascar giant cockroach      Bezobratlí
1       8  Pakobylka okřídlená     Pink-winged stick insect     Bezobratlí
2      16                Tayra                        Tayra          Savci
3      35        Kajmanka supí    Alligator snapping turtle          Plazi
4      37      Želva žlutočelá       Indochinese box turtle          Plazi
..    ...                  ...                          ...            ...
508  1417  Rosnice šalamounská                               Obojživelníci
509  1418       Létavka obecná                               Obojživelníci
510  1419          Bažant paví                                       Ptáci
511  1420  Sojkovec rezavouchý                                       Ptáci
512  1421   Kachnice kaštanová                                       Ptáci

     cena  k_prohlidce
0    1000            1
1    1000            1
2    5000            1
3    2000            1
4    1000            1
..    ...          ...
508  1000            1
509  1000            1
510  1000            1
511  1000            1
512  1000            1

[513 rows x 6 columns]

In [2]:

print(f"Tabulka má {zvirata.shape[0]} řádku a {zvirata.shape[1]} sloupců.")
print(f"Názvy sloupců jsou: {zvirata.columns}")

Tabulka má 513 řádku a 6 sloupců.
Názvy sloupců jsou: Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

In [3]:
print(zvirata.iloc[34, 1:3])

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

In [18]:
# bonus - nejdražší
zvirata.loc[zvirata["cena"] == zvirata["cena"].max()]

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
113,334,Tygr ussurijský,Siberian tiger,Savci,50000,1
114,335,Tygr sumaterský,Sumatran tiger,Savci,50000,1
128,381,Slon indický,Asian elephant,Savci,50000,1
129,385,Hroch obojživelný,Hippopotamus,Savci,50000,1
135,396,Žirafa severní núbijská (= Rothschildova),Rothschild's giraffe,Savci,50000,1
272,897,Tygr malajský,Malayan tiger,Savci,50000,1

In [47]:
# bonus - alfabeticky poslední v češtině
zvirata_abecedne_cz = (zvirata.sort_values(by="nazev_cz"))
print(f"Alfabeticky je poslední v čestině {zvirata_abecedne_cz.iloc[-1, 1]}.")

Abecedně je poslední v čestině Žluva hajní

In [48]:
# bonus - abecedně poslední v angličtině
zvirata_abecedne_en = (zvirata.sort_values(by="nazev_en"))
print(f"Alfabeticky je poslední v angličtině {zvirata_abecedne_en.iloc[-1, 2]}.")

Alfabeticky je poslední v angličtině Yellow-necked francolin.

In [33]:
# bonus - další zjištění: kolik zvířat je k prohlídce
zvirata_k_prohlidce = zvirata[zvirata["k_prohlidce"] == 1]
print(f"Je možné si prohlédnout {zvirata_k_prohlidce.shape[0]} zvířat.")
print(f"K prohlídce není {zvirata.shape[0] - zvirata_k_prohlidce.shape[0]} zvířat.")

Je možné si prohlédnout 458 zvířat.
K prohlídce není 55 zvířat.